body {
  background-image: url(../img/background_updated.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  width: 100%;
  height: 100%;
}

.item img {
  width: 100%;

}

.item {
  width: 230px;
  margin-bottom: 3px;
  cursor: pointer;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);;
}

.label {
  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 100px;
  text-shadow: 7px 7px 8px #111;
}

.right {
  padding-left: 11%;
  padding-top: 15px;
}

.left {
  padding-right: 0px !important;
}

.menu {
  padding-left: 35% !important;
}

.menu li {
  display: block;
  width: 100%;
  height: auto;
  position: relative;  
  font-size: 25px;
  line-height: 1em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  padding: 25px 0;
  cursor: pointer
}


.item:hover {
  box-shadow: none;
  -o-transition:box-shadow 0.4s ease-out;
  -ms-transition:box-shadow 0.4s ease-out;
  -moz-transition:box-shadow 0.4s ease-out;
  -webkit-transition:box-shadow 0.4s ease-out;
  transition:box-shadow 0.4s ease-out;
}


.menu li a {
  font-size: 1.5em;
  text-shadow: 4px 4px 7px #111;
  text-decoration: none;
}

.menu li a:hover {
  text-shadow: none;
  -o-transition:text-shadow 0.4s ease-out;
  -ms-transition:text-shadow 0.4s ease-out;
  -moz-transition:text-shadow 0.4s ease-out;
  -webkit-transition:text-shadow 0.4s ease-out;
  transition:text-shadow 0.4s ease-out;
}

#about-header, .menu li a {
  color: white;
  font-family: 'Modern', serif;
}

#about-header, .menu li {
  text-align: center;
}

.navbar-static-top{
  border-color: #E7E7E7;
}


@media (max-width: 690px) {

  .menu {
    display: none;
  }

  .label {
    font-size: 80px !important;
  }

  body {
    background-size: auto auto;
  }

}

@media (min-width: 690px){
   nav {
    display: none;
  }

}
