.item img {
  width: 100%;
}

.item {
  width: 200px;
  margin-bottom: 3px;
  cursor: pointer;
}

.label {
  font-family: 'Indie Flower', cursive;
  color: black;
  font-size: 100px;
}

.right {
  padding-left: 7%;
  padding-top: 15px;
}

.menu li {
  display: block;
  width: 100%;
  height: auto;
  border-top: solid #000 1px;
  position: relative;
  text-align: center;
  
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 1em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  padding: 25px 0;
  cursor: pointer
}

.menu > li > a {
  font: 1em 'Lucida Grande', Verdana, Arial, Sans-Serif;
  color: black;
}

.modal-content {
  width: 760px;
  height: 515px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.9);
}
