<header>
  <div class="logo"><a ui-sref="root">Yago <span>Main Site</span></a></div>
  <div class="logo" ng-show="authData"><a href="#" ng-click="auth.$unauth()">Log Out {{authData.password.email}}</a></div>
</header>

<menu class="mobile"></menu>

<div id="container">

  <aside>
    <ul id="nav">
      <li><a ui-sref="admin.personal" ng-class="{'selected': isActive('admin.personal')}">Personal Details</a></li>
      <li><a ui-sref="admin.content" ng-class="{'selected': isActive('admin.content')}">Site Content</a></li>
    </ul>
  </aside>

  <div ui-view class="content">
  </div>
</div>