
  <header>
    <div class="logo"><a href="#">Yago <span>Admin</span></a></div>
  </header>

  <a href="#" class="mobile">
    MENU
  </a>

  <div id="container">
    <aside>
      <ul id="nav">
        <li><a class="selected" href="#">Dashboard</a></li>
        <li><a href="#">Personal Details</a></li>
        <li><a href="#">Site Content</a></li>
      </ul>
    </aside>

    <div class="content">
      <h1>Dashboard</h1>
      <p>Here you can do stuff</p>

      <div class="box">
        <div class="box-top">News</div>
        <div class="box-panel">This is some simple news.</div>
      </div>

    </div>
  </div>